<div class="m-5 flex flex-wrap">
  <div>
    <h3 class="mr-3 self-center text-lg">Add new topic?</h3>

    <form (submit)="createTopic(topicForm)" #topicForm="ngForm">
      <div class="flex justify-between">
        <input
          class="mr-1 rounded-md border border-black"
          type="text"
          name="title"
          placeholder="Topic Title"
          ngModel
          #title="ngModel"
        />
        <app-button
          type="submit"
          text="Add Topic"
          (Click)="onAddTopic()"
        ></app-button>
      </div>
    </form>
  </div>

  <div
    class="m-5 flex flex-wrap"
    class="container mx-auto card m-2 border rounded-md shadow-lg"
    *ngFor="let topic of topics"
  >
    <div class="header">
      <h1 class="p-4 text-xl font-bold">{{ topic.title }}</h1>
    </div>

    <div class="m-1 p-1 flex-wrap justify-start">
      <app-item *ngFor="let item of items" [item]="item"></app-item>
    </div>
  </div>
</div>
