/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Raleway;
}

.btn {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffe08a;
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
